$main-color:rgb(36, 34, 34);


body{
    background: $main-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}





.topBar{
    height: 50px;
    position: relative;
    border-bottom:1px rgb(83, 83, 83) solid;
    display: flex;
    align-items: center;
    justify-content: center;


    &__searchInput{
        border: none;
        border-radius: 5px;
        padding: 10px 10px;
        background: url(./assets/loupe.png) no-repeat left center;
        background-color: rgb(228, 228, 228);
        padding-left: 30px;
        
    }


}





.form{
    width: 500px;
    margin: 20px auto;
    position: relative;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    


    &__title{
        border: none;
        outline: none;
        padding: 10px;
        background-color: $main-color;
        color: #fff;
    }

    &__body{
        max-width: 100%;
        min-width: 100%;
        padding: 10px;
        height: 50px;
        box-sizing: border-box;
        border: none;
        outline: none;
        background-color: $main-color;
        color: #fff;
    }


    &__bottomBar{
        display: flex;
        justify-content: space-around;
        background-color: $main-color;
        padding: 5px 0;
        border-radius: 5px;
    }

    &__btn{
        border: none;
        background-color: rgb(53, 53, 53);
        color: rgb(241, 241, 241);
        border-radius: 5px;
        padding: 0 10px;


        &Pin{
            background-color: transparent;
            border: none;
            border-radius: 10px;
            padding: 5px;
            cursor: pointer;

          

        }
        &Color{
            position: relative;
            background-color: transparent;
            border: none;
            cursor: pointer;


            


            &:hover .form__colorPalette{
                visibility: visible;
            }
        }

    }


    &__colorPalette{
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        visibility: hidden;
        border-radius: 5px;
        color: #fff;
        width: 70px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.267);
        top: -70%;
        cursor: default;
        
    }


    &__color{
        width: 20px;
        height: 20px;
        border-radius: 50px;
        background-color: red;
        box-sizing: border-box;

        &:hover{
            cursor: pointer;
            border: solid 1px #fff;
        }

        
        &--black{
            background-color: $main-color;           
        }
        &--red{
            background-color: rgb(189, 31, 31);            
        }
        &--blue{
            background-color: rgb(24, 120, 175);
        }
    }


}

.form .clicked{
    transform: scale(0.9);
    border: 1px solid rgb(78, 78, 78);
    
}

.form .clickedColor{
    border: solid 1px #fff;
    
}


.form .hidden{
    display: none;
}




.header{
    color: rgb(216, 216, 216);
    letter-spacing: 2px;
    margin-left: 30px;
    display: none;
}





.notesContainer{
    display: flex;   
    flex-wrap: wrap;

    &--pinned{
        display: flex;   
        flex-wrap: wrap;
    }
}

.noteContainer{
    width: 300px;
    margin: 50px;
    border-radius: 5px;
    border: 1px rgb(228, 228, 228) solid;
    
    
    &__topBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}



.noteTitle{
    color: #fff;
    text-align: center;
}
.noteBody{
    color: #fff;
    text-align: center;
}

.noteDelete{
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}
.noteDate{
    display: block;
    text-align: right;
    color: rgb(204, 204, 204);
    padding: 10px;
    font-size: 10px;
}

.notePin{
    cursor: pointer;
}
.notePin--pinned{
    transform: scale(0.7);
}